{% extends "base.html" %}

{% load i18n %}

{% load static %}

{% block head_title %}{% trans "Email Change List View" %}{% endblock %}

{% block content %}
    <!-- <h1>{% trans "Reg List is Under Construction" %}</h1>
    {% for user in email_list %}
        {% if user.email_change_requested %}
            <a href="{% url 'admin_edit_email' user.id %}">{{ user.username}}</a>
        {% endif %}
    {% endfor %} -->
    <nav class="nav">
        <div class="container text-center">
            <div class="row" id="navrow">
                <div class="col-sm-10">
                    <ul class="nav justify-content-start">
                        <li class="nav-item">
                            <button type="button" id="sidebarCollapse" class="btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
                <!-- <div class="col-sm-5">
                    <ul class="nav">
                        <li class="nav-item">
                            <form action="{% url 'reg_search_list' %}" method="get">
                                <input class="form-control" list="datalistOptions" id="navinput" placeholder="Search registered users" name="regSearch">
                            </form>
                        </li>
                    </ul>
                </div> -->
                <div class="col-sm-2">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"><img src="{% static 'images/bell-icon.png' %}" alt=""></a>
                        </li>
                        <li class="nav-item">
                            {% if request.user.profile_picture %}
                              <a class="nav-link" href="{% url 'user_edit' request.user.id %}"><img src="{{ request.user.profile_picture.url }}" alt="hugenerd" width="30" height="30" class="rounded-circle">&nbsp;&nbsp;&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                              </svg></a>
                            {% else %}
                              <a class="nav-link" href="{% url 'user_edit' request.user.id %}"><img src="{% static 'images/empty-profile.png' %}" alt="hugenerd" width="30" height="30" class="rounded-circle">&nbsp;&nbsp;&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                              </svg></a>
                            {% endif %}  
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

<div class="container text-start" id="behave">
    <div class="row">
        <div class="col-12">
            <h4>Email Change Requests</h4>
        </div>
    </div>
</div>

<div class="container text-start mb-4">
    <div class="row">
        <div class="col-lg-8">
            <p>Manage email change requests on the digital library platform</p>
        </div>
        <div class="col-lg-2">
            <select class="form-select" aria-label="Default select example" id="userListDropdown">
                <option selected>Sort by: Name</option>
            </select>
        </div>
        <div class="col-lg-2">
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="green" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
            </svg></a>
        </div>
    </div>
</div>

<div class="container text-start pt-2" id="tableHeading">
    <div class="row">
        <div class="col-lg-2">
            <p>Name</p>
        </div>
        <div class="col-lg-2">
            <p>Username</p>
        </div>
        <div class="col-lg-3">
            <p>Email</p>
        </div>
        <div class="col-lg-2">
            <p>Date registered</p>
        </div>
        <div class="col-lg-3">
            <p>Action</p>
        </div>
        <!-- <div class="col-lg-1">
            <p></p>
        </div> -->
    </div>
</div>

{% for user in email_list %}
    {% if user.email_change_requested %}
    <div class="container text-start pt-2" id="tableBody">
        <div class="row" id="tableRow">

            <div class="col-lg-2">
                {% if user.profile_picture %}
                <p id="nameLabel"><img src="{{ user.profile_picture.url }}" alt="hugenerd" width="30" height="30" class="rounded-circle">&nbsp;&nbsp;{{user.first_name}} {{user.last_name}}</p>
                {% else %}
                <p id="nameLabel"><img src="{% static 'images/empty-profile.png' %}" alt="hugenerd" width="30" height="30" class="rounded-circle">&nbsp;&nbsp;{{user.first_name}} {{user.last_name}}</p>
                {% endif %}
            </div>
            <div class="col-lg-2">
                <p>{{  user.username }}</p>
            </div>
            <div class="col-lg-3">
                <p>{{user.email}}</p>
            </div>
            <div class="col-lg-2">
                <p>{{ user.date }}</p>
            </div>

            <div class="col-lg-3 text-start">
                <p id="actionLabel"><a href="{% url 'admin_edit_email' user.id %}">Approve</a></p>
            </div>


            <!-- <div class="col-lg-1">
                <p id="actionLabel"><a class="" href="{% url 'user_delete' user.pk %}">Delete</a></p>
                <button class="btn btn-success" type="submit" id="loginButton">Register</button>
            </div> -->
        </div>
    </div>
    {% endif %}
{% endfor %}


{% endblock %}

{% block js %}
  <script>
    $(document).ready(function() {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
          });
    });
  </script>
{% endblock js %}
