{% extends "base3.html" %}

{% load i18n %}

{% load static %}
{% load account %}

{% block head_title %}{% endblock %}


{% block content %}
<!-- <h1>{% trans "Confirm E-mail Address" %}</h1> -->

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}


<div class="row mb-2">
    <div class="col-md-12 align-self-end">
        <img src="{% static 'images/verify-image.png' %}" alt="hugenerd" width="64" height="64" class="verificationDoneBody mb-3">
        <h4>Confirm E-mail address...</h4>
        <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
    </div>
</div>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    
    <!-- <button type="submit">{% trans 'Confirm' %}</button> -->
    <div class="row mb-4">
        <div class="col-md-4 align-self-end">  
        </div>
        <div class="col-md-4 align-self-end">
            <div class="d-grid gap-2">
                <button class="btn btn-success" type="submit" id="loginButton">{% trans 'Confirm' %}</button>
            </div>
        </div>
        <div class="col-md-4 align-self-end">
        </div>
    </div>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}