{% extends "base3.html" %}

{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <!-- <h1>{% trans "" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}{% endblocktrans %}</p> -->
    <!-- <div class="row mb-2">
        <div class="col-md-12 align-self-end">
            <img src="{% static 'images/wetin-be-this.png' %}" alt="hugenerd" width="67" height="67" class="resetDoneBody mb-3">
            <h4>Sorry... Your session has timed out</h4>
            <p class="resetDoneP">You were timed out due to inactivity. Please choose to stay logged in next time, otherwise 
                you will be logged out automatically
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 align-self-end">  
        </div>
        <div class="col-md-2 align-self-end">
            <div class="d-grid gap-2">
                <a class="btn btn-success" type="button" action="" id="customButton1">Login</a>
            </div>
        </div>
        <div class="col-md-5 align-self-end">
        </div>
    </div> -->

    <div class="row mb-2">
        <div class="col-md-12 align-self-end">
            <img src="{% static 'images/password-rest.png' %}" alt="hugenerd" width="64" height="64" class="verificationDoneBody mb-3">
            <h4>Change password link sent!</h4>
            <p class="resetDoneP">The change password link has been sent to the provided email address. 
                Please check your email and click the link.
            </p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-4 align-self-end">  
        </div>
        <div class="col-md-4 align-self-end">
            <div class="d-grid gap-2">
                <a class="btn btn-success" type="button" id="customButton2" href="{% url 'account_reset_password' %}">Didn't receive the change password link? Resend mail</a>
            </div>
        </div>
        <div class="col-md-4 align-self-end">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4 align-self-end">  
        </div>
        <div class="col-md-4 align-self-end">
            <a href="{% url 'account_login' %}">Back to Login</a>
        </div>
        <div class="col-md-4 align-self-end">
        </div>
    </div>
{% endblock %}