{% extends "base3.html" %}

{% load i18n %}

{% load static %}
{% block head_title %}{% endblock %}

{% block content %}
<div class="row mb-2">
    <div class="col-md-12 align-self-end">
        <img src="{% static 'images/padlock.png' %}" alt="hugenerd" width="64" height="64" class="verificationDoneBody mb-3">
        <h4>Successful password reset!</h4>
        <p class="resetDoneP">You have successfully reset your password.
        </p>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-4 align-self-end">  
    </div>
    <div class="col-md-4 align-self-end">
        <a href="{% url 'account_login' %}">Back to Login</a>
    </div>
    <div class="col-md-4 align-self-end">
    </div>
</div>
{% endblock %}