{% extends "base.html" %}

{% load i18n %}

{% load static %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <!-- <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form> -->
    <nav class="nav">
        <div class="container text-center">
            <div class="row" id="navrow">
                <div class="col-sm-5">
                    <ul class="nav justify-content-start">
                        <li class="nav-item">
                            <button type="button" id="sidebarCollapse" class="btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-5">
                    <!-- <ul class="nav">
                        <li class="nav-item">
                            <form action="">
                                <input class="form-control" list="datalistOptions" id="navinput" placeholder="Search public files">
                            </form>
                        </li>
                    </ul> -->
                </div>
                <div class="col-sm-2">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"><img src="{% static 'images/bell-icon.png' %}" alt=""></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">&nbsp;&nbsp;&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                          </svg></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container text-start mb-4">
        <div class="row" id="navrow">
          <div class="col-lg-8">
            <p>Change password</p>
          </div>
          <div class="col-lg-2">
            <!-- <select class="form-select" aria-label="Default select example" id="userListDropdown">
                <option selected>Sort by: Name</option>
                <option value="1">Sort by: Date</option>
            </select> -->
          </div>
          <div class="col-lg-2">
            <!-- <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="green" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
            </svg></a> -->
          </div>
        </div>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="container text-start pt-2 mt-4" id="">
            <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <div class="mb-4">
                    <label for="exampleFormControlInput1" class="form-label">Current password</label>
                    <!-- <input type="email" class="form-control" id="exampleFormControlInput1" placeholder=""> -->
                    {{ form.oldpassword }}
                </div>
            </div>
            <div class="col-lg-4">
            </div>
            </div>
        </div>

        <div class="container text-start pt-2" id="">
            <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <div class="mb-4">
                    <label for="exampleFormControlInput1" class="form-label">New password</label>
                    <!-- <input type="email" class="form-control" id="exampleFormControlInput1" placeholder=""> -->
                    {{ form.password1 }}
                </div>
            </div>
            <div class="col-lg-4">
            </div>
            </div>
        </div>

        <div class="container text-start pt-2" id="">
            <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <div class="mb-4">
                    <label for="exampleFormControlInput1" class="form-label">Confirm new password</label>
                    <!-- <input type="email" class="form-control" id="exampleFormControlInput1" placeholder=""> -->
                    {{ form.password2 }}
                </div>
            </div>
            <div class="col-lg-4">
            </div>
            </div>
        </div>

        <div class="container text-center pt-2" id="">
            <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <div class="d-grid gap-2">
                    <button class="btn btn-success" type="submit" id="loginButton">Change Password</button>
                </div>
            </div>
            <div class="col-lg-4">
            </div>
            </div>
        </div>
    </form>
    
    
{% endblock %}